{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Menu: {{ menu.name }}</h1>
        <div class="row">
            {% for dish_menu in dishes %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h3 class="card-title">{{ dish_menu.dish.name }}</h3>
                                <form action="{% url 'remove_from_menu' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="menu_pk" value="{{ menu.pk }}">
                                    <input type="hidden" name="dish_pk" value="{{ dish_menu.dish.pk }}">
                                    <button type="submit" class="btn btn-danger btn-sm" aria-label="Verwijder gerecht">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                            <p class="card-text text-truncate">{{ dish_menu.dish.recipe }}</p>
                            <p><strong>Favoriet:</strong> {{ dish_menu.dish.is_favorite|yesno:"Yes,No" }}</p>
                            <h4>Ingrediënten:</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ingrediënt</th>
                                        <th class="text-end">Hoeveelheid</th>
                                        <th>Eenheid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_dish in product_dishes %}
                                        {% if product_dish.dish_id == dish_menu.dish.pk %}
                                            <tr>
                                                <td>{{ product_dish.product.name }}</td>
                                                <td class="text-end">{{ product_dish.get_quantity_display }}</td>
                                                <td>{{ product_dish.unit.abbreviation }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'create_shoppinglist_from_menu' menu.pk %}" class="btn btn-primary">Create Shopping List</a>
        <a href="{% url 'menu_list' %}" class="btn btn-secondary">Terug naar menu lijst</a>
    </div>
{% endblock %}
