
{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h2>Maak een gerecht</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Ingrediënten</h3>
        <div id="productdish_formset">
            {{ productdish_formset.management_form }}
            <div id="product-form-list">
                {% for form in productdish_formset %}
                    <div class="form-row product-form">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" class="btn btn-secondary" id="add-more">Meer toevoegen</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>

    <template id="empty-form-template">
        <div class="form-row product-form card opacity-75">
            {{ productdish_formset.empty_form.as_p }}
        </div>
        <hr>
    </template>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let addMoreBtn = document.getElementById('add-more');
            let formsetDiv = document.getElementById('product-form-list');
            let totalForms = document.getElementById('id_productdish_set-TOTAL_FORMS');
            let emptyFormTemplate = document.getElementById('empty-form-template').innerHTML;
            let formNum = parseInt(totalForms.value);

            addMoreBtn.addEventListener('click', function(event) {
                event.preventDefault();
                let newForm = emptyFormTemplate.replace(/__prefix__/g, formNum);
                formsetDiv.insertAdjacentHTML('beforeend', newForm);
                formNum++;
                totalForms.value = formNum;
            });
        });
    </script>
</div>
{% endblock %}



{# HIERBOVEN WERKT HELEMAAL ONDERSTAAND IS EEN TEST!!! #}

{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#<div class="container">#}
{#    <h2>Create Dish</h2>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        #}
{#        <div class="mb-3">#}
{#            {{ form.name.label }}#}
{#            {{ form.name }}#}
{#            {% if form.name.errors %}#}
{#                <div class="invalid-feedback">#}
{#                    {{ form.name.errors }}#}
{#                </div>#}
{#            {% endif %}#}
{#        #}
{#            {{ form.recipe }}#}
{#        </div>#}
{#        #}
{#        <h3>Products</h3>#}
{#        <div id="productdish_formset">#}
{#            {{ productdish_formset.management_form }}#}
{#            <table class="table">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Product Name</th>#}
{#                        <th>Favorite</th>#}
{#                        <th>Quantity</th>#}
{#                        <th>Unit</th>#}
{#                        <th>Delete</th>#}
{#                        <th>Actions</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody id="product-form-list">#}
{#                    {% for form in productdish_formset %}#}
{#                        <tr class="product-form">#}
{#                            <td>#}
{#                                {{ form.product_name.label }}#}
{#                                {{ form.product_name }}#}
{#                                {% if form.product_name.errors %}#}
{#                                    <div class="invalid-feedback">#}
{#                                        {{ form.product_name.errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ form.product_is_favorite.label }}#}
{#                                <div class="d-flex align-items-end">{{ form.product_is_favorite }}</div>#}
{#                                {% if form.product_is_favorite.errors %}#}
{#                                    <div class="invalid-feedback">#}
{#                                        {{ form.product_is_favorite.errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ form.quantity.label }}#}
{#                                {{ form.quantity }}#}
{#                                {% if form.quantity.errors %}#}
{#                                    <div class="invalid-feedback">#}
{#                                        {{ form.quantity.errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ form.unit.label }}#}
{#                                {{ form.unit }}#}
{#                                {% if form.unit.errors %}#}
{#                                    <div class="invalid-feedback">#}
{#                                        {{ form.unit.errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                {{ form.DELETE.label }}#}
{#                                {{ form.DELETE }}#}
{#                                {% if form.DELETE.errors %}#}
{#                                    <div class="invalid-feedback">#}
{#                                        {{ form.DELETE.errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                            <td>#}
{#                                <button type="button" class="btn btn-danger remove-form">Remove</button>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#        <button type="button" class="btn btn-secondary" id="add-more">Add more</button>#}
{#        <button type="submit" class="btn btn-primary">Save</button>#}
{#    </form>#}
{##}
{#    <template id="empty-form-template">#}
{#        <tr class="product-form">#}
{#            <td>#}
{#                <label>{{ productdish_formset.empty_form.product_name.label }}</label>#}
{#                {{ productdish_formset.empty_form.product_name }}#}
{#            </td>#}
{#            <td>#}
{#                <div class="d-flex align-end-center">{{ productdish_formset.empty_form.product_is_favorite.label }}</div>#}
{#                {{ productdish_formset.empty_form.product_is_favorite }}#}
{#            </td>#}
{#            <td>#}
{#                {{ productdish_formset.empty_form.quantity.label }}#}
{#                {{ productdish_formset.empty_form.quantity }}#}
{#            </td>#}
{#            <td>#}
{#                {{ productdish_formset.empty_form.unit.label }}#}
{#                {{ productdish_formset.empty_form.unit }}#}
{#            </td>#}
{#            <td>#}
{#                {{ productdish_formset.empty_form.DELETE.label }}#}
{#                {{ productdish_formset.empty_form.DELETE }}#}
{#            </td>#}
{#            <td>#}
{#                <button type="button" class="btn btn-danger remove-form">Remove</button>#}
{#            </td>#}
{#        </tr>#}
{#    </template>#}
{##}
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            let addMoreBtn = document.getElementById('add-more');#}
{#            let formsetDiv = document.getElementById('product-form-list');#}
{#            let totalForms = document.getElementById('id_productdish_set-TOTAL_FORMS');#}
{#            let emptyFormTemplate = document.getElementById('empty-form-template').innerHTML;#}
{#            let formNum = parseInt(totalForms.value);#}
{##}
{#            addMoreBtn.addEventListener('click', function(event) {#}
{#                event.preventDefault();#}
{#                let newForm = emptyFormTemplate.replace(/__prefix__/g, formNum);#}
{#                formsetDiv.insertAdjacentHTML('beforeend', newForm);#}
{#                formNum++;#}
{#                totalForms.value = formNum;#}
{#            });#}
{##}
{#            formsetDiv.addEventListener('click', function(event) {#}
{#                if (event.target.classList.contains('remove-form')) {#}
{#                    event.preventDefault();#}
{#                    let formRow = event.target.closest('.product-form');#}
{#                    formRow.querySelector('input[type="checkbox"]').checked = true;#}
{#                    formRow.style.display = 'none';#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
{#</div>#}
{#{% endblock %}#}
