{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col mt-3">
                <h4>{{ dish.name }}</h4>
                <a href="{% url 'dish_update' pk=dish.pk %}">Pas aan</a>
                <a href="{% url 'dish_delete' pk=dish.pk %}">Delete</a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-success add-to-menu-btn" data-dish-id="{{ dish.id }}" data-bs-toggle="modal" data-bs-target="#addToMenuModal">
                    <h4 class="bi bi-cart-plus text-center">Voeg toe</h4>
                </a>
            </div>
        </div>
        <div class="card my-3 px-3 pt-3">
            <h5 class="card-title">Recept</h5>
            <p class="card-text">{{ dish.recipe }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Hoeveelheid</th>
                    <th>Eenheid</th>
                    <th class="text-end">Acties</th>
                </tr>
                </thead>
                <tbody>
                {% for product_dish in dish_products %}
                    <tr>
                        <td>{{ product_dish.product.name }}</td>
                        <td>{{ product_dish.quantity }}</td>
                        <td>{{ product_dish.unit.abbreviation }}</td>
                        <td class="text-end">
                            <a class="btn btn-danger" href="{% url 'product_dish_delete' pk=product_dish.pk %}"><i class="bi bi-trash"></i></a>
                            <a class="btn btn-warning" href="{% url 'product_dish_update' pk=product_dish.pk %}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add to Menu Modal -->
    <div class="modal fade" id="addToMenuModal" tabindex="-1" aria-labelledby="addToMenuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToMenuModalLabel">Voeg toe aan menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-to-menu-form" method="POST" action="{% url 'add_to_menu' %}">
                        {% csrf_token %}
                        <input type="hidden" name="dish_id" id="dish_id">
                        <div class="mb-3">
                            <label for="menu_id" class="form-label">Selecteer Menu</label>
                            <select class="form-select" name="menu_id" id="menu_id" required>
                                {% for menu in menus %}
                                    <option value="{{ menu.id }}">{{ menu.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Voeg toe aan menu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.add-to-menu-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const dishId = this.getAttribute('data-dish-id');
                    document.getElementById('dish_id').value = dishId;
                });
            });
        });
    </script>
{% endblock %}
