{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Gerechten van: {{ user.username }}</h2>
        <label for="searchInput">Zoek je iets specifiek?</label><input type="text" id="searchInput"
                                                                       class="form-control mb-3"
                                                                       placeholder="Zoeken...">
        <div class="row">
            <div class="col-md-6">
                <div class="accordion" id="accordionExample">
                    {% for dish, products in dish_products.items %}
                        <div class="accordion-item px-3">
                            <h2 class="accordion-header row" id="heading{{ forloop.counter }}">
                                <button class="accordion-button col" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                        aria-controls="collapse{{ forloop.counter }}">
                                    <span class="col">{{ dish.name }}</span>
                                    <span class="col-auto px-2"><a href="#"><i class="bi bi-cart-plus btn btn-success"></i></a></span>
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}"
                                 class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                 aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card border-0 my-3">
                                        <h5 class="card-title mx-3 mt-2">Recept</h5>
                                        <p class="card-text mx-3 my-2">{{ dish.recipe|linebreaks }}</p>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-end">Hoeveelheid</th>
                                            <th>Eenheid</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product_dish in products %}
                                            <tr>
                                                <td>{{ product_dish.product.name }}</td>
                                                <td class="text-end">{{ product_dish.quantity }}</td>
                                                <td>{{ product_dish.unit.abbreviation }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {#                    <p><a href="{% url 'dish-detail' %}"></a></p>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">text hier</div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('searchInput').addEventListener('keyup', function () {
            var input, filter, accordion, panel, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            accordion = document.getElementById('accordionExample');
            panel = accordion.getElementsByClassName('accordion-item');
            for (i = 0; i < panel.length; i++) {
                txtValue = panel[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    panel[i].style.display = '';
                } else {
                    panel[i].style.display = 'none';
                }
            }
        });
    </script>
{% endblock %}
