{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Gerechten van: {{ user.username }}</h2>
        <label for="searchInput">Zoek je iets specifiek?</label>
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Zoeken...">
        <div class="mx-auto mr-2"><a class="btn btn-success ml-2"
                                     href="{% url 'dish_create' %}"><i
                class="bi bi-plus-lg">Voeg een gerecht toe aan je collectie</i></a></div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionExample">
                    {% for dish, products in dish_products.items %}
                        <div class="accordion-item px-3">
                            <h2 class="accordion-header row" id="heading{{ forloop.counter }}">
                                <button class="accordion-button col" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                        aria-controls="collapse{{ forloop.counter }}">
                                    <span class="col">{{ dish.name }}</span>
                                    <span class="col-auto px-2">
                                        <a href="#" class="add-to-menu-btn" data-dish-id="{{ dish.id }}"
                                           data-bs-toggle="modal" data-bs-target="#addToMenuModal">
                                            <i class="bi bi-cart-plus btn btn-success"></i>
                                        </a>
                                    </span>
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}"
                                 class="accordion-collapse collapse {% if forloop.first %}{% endif %}"
                                    {#                                    class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"#}
                                    {#                            If accordion not working, use line that is in comment #}
                                 aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card border-0 my-3 p-2">
                                        <div class="row">
                                            <h5 class="card-title mx-3 mt-2 col">Recept</h5>
                                            <a class="col" href="{% url 'dish_detail' pk=dish.pk %}"><button type="button" class="btn btn-primary btn-sm">Details</button></a>
                                        </div>
                                        <p class="card-text mx-3 my-2">{{ dish.recipe|linebreaks }}</p>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-end">Hoeveelheid</th>
                                            <th>Eenheid</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product_dish in products %}
                                            <tr>
                                                <td>{{ product_dish.product.name }}</td>
                                                {% if product_dish.quantity is NULL %}
                                                    <td class="text-end">/</td>
                                                {% else %}
                                                    <td class="text-end">{{ product_dish.quantity }}</td>
                                                {% endif %}
                                                <td>{{ product_dish.unit.abbreviation }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {#            <div class="col-md-6">#}
            {#                <div class="card">text hier</div>#}
            {#            </div>#}
        </div>
    </div>

    <!-- Add to Menu Modal -->
    <div class="modal fade" id="addToMenuModal" tabindex="-1" aria-labelledby="addToMenuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToMenuModalLabel">Voeg toe aan menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-to-menu-form" method="POST" action="{% url 'add_to_menu' %}">
                        {% csrf_token %}
                        <input type="hidden" name="dish_id" id="dish_id">
                        <div class="mb-3">
                            <label for="menu_id" class="form-label">Selecteer Menu</label>
                            <select class="form-select" name="menu_id" id="menu_id" required>
                                {% for menu in menus %}
                                    <option value="{{ menu.id }}">{{ menu.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Voeg toe aan menu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.add-to-menu-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const dishId = this.getAttribute('data-dish-id');
                    document.getElementById('dish_id').value = dishId;
                });
            });
        });
    </script>
    <script>

        document.getElementById('searchInput').addEventListener('keyup', function () {
            var input, filter, accordion, panel, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            accordion = document.getElementById('accordionExample');
            panel = accordion.getElementsByClassName('accordion-item');
            for (i = 0; i < panel.length; i++) {
                txtValue = panel[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    panel[i].style.display = '';
                } else {
                    panel[i].style.display = 'none';
                }
            }
        });
    </script>
{% endblock %}
