{% extends 'base.html' %}

{% block content %}
    <h2>Shopping List</h2>
    <div class="card p-3">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Aanpassen</th>
            </tr>
            </thead>
            <tbody>
            {% for item in shoppinglist.productshoppinglist_set.all %}
                <tr>
                    <td>
                        <input type="checkbox" class="item-checkbox" data-id="{{ item.id }}">
                    </td>
                    <td>{{ item.product_dish.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product_dish.product.unit.abbreviation }}</td>
                    <td>
                        <a href="{% url 'update_product_shoppinglist' item.id %}" class="btn btn-warning"><i
                                class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'delete_product_shoppinglist' pk=item.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
